.title {
  opacity: 1;
  color: rgba(47, 48, 89, 1);
  font-family: "Circular-Std";
  font-size: 20px;
  font-weight: 600;
  font-style: Medium;
  letter-spacing: 0px;
  text-align: left;
}
.subtitle {
  opacity: 1;
  color: rgba(104, 113, 150, 1);
  font-family: "Circular-Std";
  font-size: 16px;
  font-weight: 400;
  font-style: Book;
  letter-spacing: 0px;
  text-align: left;
}
.line {
  border: 1px solid rgba(230, 235, 240, 1);
  opacity: 1;
}
